.footer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 100px;
  padding: 100px;
  border-radius: 40px;
  background: var(--background-container);
  margin-bottom: 40px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  max-width: 530px;
}

.footer__heading {
  color: var(--text-light);
}

.socials {
  display: flex;
  column-gap: 12px;
}

.socials__item {
  display: flex;
  padding: 15px;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 100%;
  border: 1px solid var(--border-light, #c1b6ad);
  transition: background-color 0.5s;
}

.socials__item:hover {
  cursor: pointer;
  background: var(--background-body, #e1d4c9);
}

.socials__icon {
  color: var(--text-light);
}

.socials__item:hover .socials__icon {
  color: var(--text-dark);
}

.footer-contacts {
  padding-top: 32px;
  color: var(--text-light);
}

.contacts-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 0;
  margin: 0;
  margin-top: 40px;
}

.contacts-list__item {
  list-style: none;
}

.contacts-list__link {
  display: flex;
  column-gap: 10px;
  align-items: center;
  position: relative;
  width: fit-content;
}

.contacts-list__link::after {
  content: "";
  position: absolute;
  bottom: -8px;
  width: 100%;
  left: 0;
  height: 2px;
  background-color: var(--text-light);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s;
}

.contacts-list__link:hover::after {
  transform: scaleX(100%);
}

@media (hover: none) {
  .socials__item:hover {
    cursor: default;
    background-color: transparent;
  }

  .socials__item:hover .socials__icon {
    color: var(--text-light);
  }

  .contacts-list__link:hover::after {
    transform: scaleX(0);
  }
}

@media all and (max-width: 1439px) {
  .footer {
    padding: 100px 60px;
  }

  .footer-contacts {
    padding-top: 100px;
  }
}

@media all and (max-width: 767px) {
  .footer {
    padding: 60px 16px;
  }

  .footer-contacts {
    padding-top: 40px;
  }
}
