@import url(./assets/styles/common-styles.css);

/* header */

@import url(./assets/styles/header.css);

/* footer */

@import url(./assets/styles/footer.css);

.section {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* Hero */

.hero {
  height: 644px;
  padding: 100px;
  border-radius: 40px;
  background-image: url(../coffee-house/assets/pictures/img-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
}

.hero-content {
  display: flex;
  max-width: 530px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 40px;
}

.hero__heading {
  color: var(--text-light);
}

.hero__text {
  color: var(--text-light);
}

.hero__btn {
  width: 200px;
  padding: 20px 78px;
  border: none;
  border-radius: 100px;
  background: var(--background-body);
  display: flex;
  align-items: center;
  column-gap: 8px;
  position: relative;
  transition: padding 0.5s;
}

.hero__btn:hover {
  padding-left: 64px;
  cursor: pointer;
}

.hero__btn:hover::after {
  opacity: 1;
}

.hero__btn::after {
  position: absolute;
  content: url(./assets/icons/coffee-cup.svg);
  top: 23px;
  right: 64px;
  width: 20px;
  height: 20px;
  opacity: 0;
  transition: opacity 0.7s;
}

/* favorite coffee */

.favorite-coffee__heading {
  text-align: center;
  margin-bottom: 40px;
}

/* slider-coffee */

.slider-coffee-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.slider-coffee__arrow {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid var(--border-dark);
  background-color: transparent;
  color: var(--text-dark);
  transition: color 0.5s, background 0.5s;
}

.slider-coffee__arrow:hover {
  cursor: pointer;
  color: var(--text-light);
  background: var(--background-container);
}

.btn-arrow_left {
  transform: rotate(180deg);
}

.slider-coffee-container {
  text-align: center;
  max-width: 480px;
}

.slider-coffee__img {
  display: block;
  max-width: 100%;
  margin-bottom: 20px;
}

.slider-coffee__info {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.slider-coffee-nav {
  display: flex;
  column-gap: 12px;
  justify-content: center;
  margin-top: 40px;
}

.slider-nav__btn {
  border: none;
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background: var(--border-light, #c1b6ad);
  transition: background-color 0.5s;
}

.slider-nav__btn:hover {
  cursor: pointer;
  background: var(--border-dark, #665f55);
}

.slider-nav__btn_active {
  background: var(--border-dark, #665f55);
}

/* about */

.about__heading {
  margin-bottom: 40px;
}

.gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 1060px;
  max-width: 1000px;
  gap: 40px;
}

.gallery__item {
  max-width: 660px;
  width: 100%;
  height: 590px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.gallery__item:nth-child(2),
.gallery__item:nth-child(3) {
  height: 430px;
}

.gallery__pic {
  transition: transform 0.5s;
}

.gallery__pic_1,
.gallery__pic_4 {
  width: 100%;
  transform: scale(1.1);
  transform-origin: bottom;
}

.gallery__pic_2,
.gallery__pic_3 {
  position: absolute;
  top: -147px;
  left: -33px;
}

.gallery__item:hover .gallery__pic_1,
.gallery__item:hover .gallery__pic_4 {
  transform: scale(101%);
}

.gallery__item:hover .gallery__pic_2,
.gallery__item:hover .gallery__pic_3 {
  transform: scale(91%);
}

/* download */

.download {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.download-container {
  max-width: 630px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.download-btn-container {
  display: flex;
  column-gap: 20px;
}

.btn-download {
  display: flex;
  width: 200px;
  align-items: center;
  padding: 12px 20px;
  column-gap: 8px;
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid var(--border-dark);
  transition: color 0.5s, background-color 0.5s;
}

.btn-download:hover {
  cursor: pointer;
  color: var(--text-light);
  background-color: var(--background-container);
}

.btn-download__icon {
  display: block;
  width: 35px;
  height: 35px;
  transition: color 0.5s;
  color: var(--text-dark);
}

.btn-download:hover .btn-download__icon {
  color: var(--text-light);
}

.btn-download__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.btn-download__caption {
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.download__pic {
  display: block;
}

/* footer */

.footer {
  margin-bottom: 40px;
}

@media all and (max-width: 1439px) {
  .hero {
    padding: 100px 60px;
  }

  .gallery {
    flex-wrap: nowrap;
    align-items: center;
    max-width: unset;
    height: unset;
  }

  .gallery__pic_1,
  .gallery__pic_4 {
    transform: scale(1.058);
    position: absolute;
    top: -29px;
  }

  .gallery__item {
    max-width: 688px;
  }

  .gallery__item:nth-child(2),
  .gallery__item:nth-child(3) {
    display: none;
  }

  .download {
    flex-direction: column;
    row-gap: 100px;
  }

  .download-container {
    max-width: 100%;
  }

  /* .footer {
    padding: 100px 60px;
  }

  .footer-contacts {
    padding-top: 100px;
  } */
}

@media all and (max-width: 767px) {
  .body {
    padding: 0 16px;
    --body-padding: 16px;
  }

  .hero {
    padding: 60px 16px;
    min-height: 552px;
    height: fit-content;
  }

  .slider-coffee-wrapper {
    justify-content: center;
  }
  .slider-coffee__arrow {
    display: none;
  }

  .gallery__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gallery__pic {
    width: auto;
    transform: none;
    position: static;
  }

  .download__pic {
    width: 100%;
  }

  .download-btn-container {
    flex-direction: column;
    row-gap: 20px;
  }
}

@media (hover: none) {
  .hero__btn {
    padding-left: 64px;
    cursor: pointer;
  }

  .hero__btn::after {
    opacity: 1;
  }

  .slider-coffee__arrow:hover {
    cursor: default;
    color: var(--text-dark);
    background-color: transparent;
  }

  .slider-nav__btn:hover {
    cursor: default;
    background: var(--border-light, #c1b6ad);
  }

  .gallery__item:hover .gallery__pic_1,
  .gallery__item:hover .gallery__pic_4 {
    transform: none;
  }

  .gallery__item:hover .gallery__pic_2,
  .gallery__item:hover .gallery__pic_3 {
    transform: none;
  }

  .btn-download:hover {
    cursor: default;
    color: inherit;
    background-color: transparent;
  }

  .btn-download:hover .btn-download__icon {
    color: var(--text-dark);
  }
}
