@import url(../assets/styles/common-styles.css);

/* header */

@import url(../assets/styles/header.css);

/* footer */

@import url(../assets/styles/footer.css);

/* menu */

.menu__heading {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.nav-category {
  display: flex;
  column-gap: 16px;
  justify-content: center;
  margin: 40px 0;
}

.nav-category__badge {
  display: flex;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid var(--border-light);
  transition: color 0.5s, background-color 0.5s;
  text-transform: capitalize;
}

.nav-category__badge:hover {
  cursor: pointer;
  color: var(--text-light);
  background: var(--background-container);
}

.badge__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background: var(--border-light);
  transition: background-color 0.5s;
}

.nav-category__badge:hover .badge__icon {
  background: var(--background-body);
}

.nav-category__badge_active {
  pointer-events: none;
  color: var(--text-light);
  background: var(--background-container);
}

.nav-category__badge_active .badge__icon {
  background: var(--background-body);
}

/* grid */

.menu__products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.card-product {
  width: 310px;
  border-radius: 40px;
  border: 1px solid var(--border-light);
}

.card-product:hover {
  cursor: pointer;
}

.card-product:hover .card-product__img {
  transform: scale(1);
}

.card-product__img-wrapper {
  overflow: hidden;
  border-radius: 40px;
  height: 308px;
  width: 100%;
}

.card-product__img {
  width: 100%;
  transform: scale(1.1);
  transition: transform 0.5s;
}

.card-product__content {
  display: flex;
  height: 196px;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
}

.card-product__title {
  margin-bottom: 12px;
}

.btn-products-refresh {
  display: none;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-dark, #665f55);
  background-color: transparent;
  margin: 40px auto 0;
  color: var(--text-dark);
  transition: color 0.5s, background 0.5s;
}

.btn-products-refresh:hover {
  cursor: pointer;
  color: var(--text-light);
  background: var(--background-container);
}

.btn-products-refresh.hidden {
  display: none;
}

/* modal */

.modal-wrapper {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  padding: 40px;
}

.modal-overflow {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--background-backdrop, rgba(64, 63, 61, 0.8));
  z-index: 1;
}

.modal {
  display: flex;
  width: 800px;
  padding: 16px;
  border-radius: 40px;
  background: var(--background-body, #e1d4c9);
  column-gap: 20px;
  z-index: 2;
}

.modal__img-wrapper {
  width: 310px;
  height: 310px;
  overflow: hidden;
  border-radius: 40px;
  flex-shrink: 0;
}
.modal__img {
  width: 100%;
  transform: scale(1.1);
}

@media screen and (max-width: 750px) {
  .modal-wrapper {
    padding: 20px;
  }
  .modal__img-wrapper {
    display: none;
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  /* row-gap: 21px; */
  row-gap: 20px;
}

.modal__product-title {
  margin-bottom: 12px;
}

.options-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.options-badges-container {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}



.options-badge {
  display: flex;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid var(--border-light);
  transition: color 0.5s, background-color 0.5s;
  color: var(--text-dark, #403f3d);
}

.options-badge__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background: var(--border-light);
  transition: background-color 0.5s;
  color: var(--text-dark, #403f3d);
  text-transform: uppercase;
}

.options-badge_active {
  color: var(--text-light);
  background: var(--background-container);
}

.options-badge_active .options-badge__icon {
  background: var(--background-body);
}

.modal__total {
  display: flex;
  justify-content: space-between;
}

.alert {
  display: flex;
  column-gap: 8px;
  /* padding: 12px 0; */
  padding: 10px 0;
  border-top: 1px solid var(--border-light, #c1b6ad);
}

.alert__icon {
  flex-shrink: 0;
}

.options__btn {
  cursor: pointer;
  padding: 10px 78px;
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid var(--border-dark, #665f55);
  transition: color 0.5s, background 0.5s;
}

.options__btn:hover {
  color: var(--text-light, #e1d4c9);
  background: var(--background-container, #665f55);
}

/* footer */

.footer {
  margin-top: 100px;
  margin-bottom: 40px;
}

@media (hover: hover) {
  .options-badge:hover {
    cursor: pointer;
    color: var(--text-light);
    background: var(--background-container);
  }

  .options-badge:hover .options-badge__icon {
    background: var(--background-body);
  }
}

@media (hover: none) {
  /* .nav-category__badge:hover {
    cursor: default;
    color: inherit;
    background: transparent;
  }

  .nav-category__badge:hover .badge__icon {
    background: var(--border-light);
  } */

  .card-product:hover {
    cursor: default;
  }

  .card-product:hover .card-product__img {
    transform: scale(1.1);
  }

  .btn-products-refresh:hover {
    cursor: default;
    color: var(--text-dark);
    background: transparent;
  }
}

@media all and (max-width: 1439px) {
  /* .body {
    padding: 0 40px;
  } */

  .menu__products {
    grid-template-columns: repeat(2, min-content);
    justify-content: center;
    justify-items: center;
    column-gap: 40px;
  }

  /* .card-product:nth-child(n + 5) {
    display: none;
  } */

  .btn-products-refresh {
    display: flex;
  }

  /* .footer {
    padding: 100px 60px;
  }

  .footer-contacts {
    padding-top: 100px;
  } */
}

@media all and (max-width: 767px) {
  .body {
    padding: 0 16px;
    --body-padding: 16px;
  }
  .menu__products {
    grid-template-columns: repeat(1, 1fr);
  }

  .nav-category {
    column-gap: 8px;
  }
}
